.wheel_container {
    position: relative;
    width: 1000px;
    height: 1000px;
    margin: 0 auto;

    // 外圈和内圈
    .wheel_out {
        z-index: 2;
        width: 1000px;
        height: 1000px;
        background: transparent;
        border: 50px solid #f48fb1;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        position: relative;
        border-radius: 50% !important;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;

        // 指针
        &::before {
            content: "";
            transform: translate(-50%, -50%);
            /* margin: 0px calc(50% - 15px); */
            display: block;
            width: 0px;
            border: 25px solid transparent;
            border-bottom-style: solid;
            border-bottom-width: 150px;
            position: absolute;
            background: transparent;
            border-bottom-color: #f48fb1;
            top: 40%;
            left: 50%;
        }
    }
}

#jackport_container {
    // 用于转一次的变量
    // transition-duration: 10s;

    transition: 0.2s;
    transition-timing-function: ease;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    // 随机项
    span {
        position: absolute;
        border-radius: 50% !important;
        top: 5%;
        left: 5%;
        z-index: 1;
        width: 90%;
        height: 90%;
        border-radius: 50%;
        overflow: hidden;
        background: transparent;

        &::before {
            content: "";
            display: block;
            width: 0px;
            //! 乘以2 是底边长
            border: var(--borderWdith) solid transparent;
            //! 三角形高
            border-top-width: 450px;
            border-top-style: solid;
            position: absolute;
            background: transparent;
            left: calc(50% - var(--borderWdith));
        }

        &:nth-child(2n-1)::before {
            border-top-color: #82b1ff;
        }

        &:nth-child(2n)::before {
            border-top-color: #424242;
        }

        // 文字
        i {
            display: block;
            font-style: normal;
            color: white;
            position: absolute;
            left: calc(50% - 10px);
            top: 12%;
            width: 1em;
            font-size: 20px;
        }
    }
}

.btn_start {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.awardedBar {
    position: absolute;
    transition: 0.5s;
    z-index: 2;
    width: 80%;
    transform: translate(-50%, -50%);
    top: 55%;
    left: 50%;
    animation: showAwarded 2s forwards;

}

@keyframes showAwarded {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}