.wheel_container {
  position: relative;
  width: 500px;
  height: 500px;
  margin: 200px auto;

  // 外圈和内圈
  .wheel_out {
    z-index: 2;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 40px solid pink;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    position: relative;
    border-radius: 50% !important;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

    // 指针
    &::before {
      content: "";
      margin: 0px calc(50% - 15px);
      display: block;
      width: 0px;
      border: 15px solid transparent;
      border-top-style: solid;
      border-top-width: 40px;
      position: absolute;
      background: transparent;
      border-top-color: white;
    }
  }
}

#jackport_container {
  // 用于转一次的变量
  // transition-duration: 10s;

  transition: .2s;
  transition-timing-function: ease;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  // 随机项
  span {
    position: absolute;
    border-radius: 50% !important;
    top: 5%;
    left: 5%;
    z-index: 1;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    overflow: hidden;
    background: transparent;

    &::before {
      content: "";
      display: block;
      width: 0px;
      //! 乘以2 是底边长
      border: var(--borderWdith) solid transparent;
      //! 三角形高
      border-top-width: 225px;
      border-top-style: solid;
      position: absolute;
      background: transparent;
      left: calc(50% - var(--borderWdith));
    }

    &:nth-child(2n-1)::before {
      border-top-color: red;
    }

    &:nth-child(2n)::before {
      border-top-color: black;
    }

    // 文字
    i {
      display: block;
      font-style: normal;
      font-weight: bold;
      color: white;
      position: absolute;
      left: calc(50% - 4px);
      top: 12%;
      width: 14px;
      font-size: 10px;
    }
  }
}

.btn_start {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}